* { 
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
} 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	padding: 0; 
	margin: 0; 
	background-image: url('weather.webp'); 
	background-size: cover; 
	background-repeat: no-repeat; 
  }
  
  .app-name {
	font-size: 2.3rem;
	color: rgb(30, 2, 30);
	margin-bottom: 16px;
	text-align: center;
  }
  
  .App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	min-height: 440px;
	
	text-align: center;
	margin: 0 auto; /* Center the content horizontally */
	border-radius: 10px;
	padding-bottom: 32px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .city-search {
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	border: 2px solid rgb(14, 1, 26);
	outline: none;
	border-radius: 20px;
	font-size: 16px;
	padding: 12px 40px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	color: black;
  }
  
  .city-search:focus {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
  }
  
  .city-name {
	font-size: 1.5rem;
	color: #444;
	margin-bottom: 8px;
  }
  
  .date {
	font-size: 1.25em;
	font-weight: 500;
	color: #777;
  }
  
  .icon-temp {
	font-size: 3rem;
	font-weight: 700;
	color: #1e2432;
	text-align: center;
  }
  
  .deg {
	font-size: 1.3rem;
	vertical-align: super;
  }
  
  .des-wind {
	font-weight: 500;
	color: #666;
  }
  
  .error-message {
	display: block;
	text-align: center;
	color: #d32f2f;
	font-size: 24px;
	margin-top: auto;
  }
  
  .Loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  .Loader>div {
	margin: 0 auto;
  }
  
  .weather-icon {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .weather-icon img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  .App {
	font-family: sans-serif;
	width: 100%;
	min-height: 100vh;
  }
  
  .navbar {
	width: 100%;
	min-height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #131212;
	background: lightskyblue;
	position: fixed; /* Fixed position at the top */
	top: 0; /* Stick to the top */
	z-index: 100; /* Make sure it stays on top of other elements */
  }
  
  .App .navbar .nav-links {
	width: 40%;
	display: flex;
	justify-content: space-around;
	list-style: none;
  }
  
  .App .navbar .nav-links > a {
	color: #0f0e0e;
	text-decoration: none;
  }
  
  .WeatherAppContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
.login-signup-container {
  max-width: 400px;
  width: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #4caf50;
  color: rgb(7, 7, 7);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 16px;
  cursor: pointer;
  color:#1e2432;
}

.logged-in-button {
	background-color: #4caf50;
  color: rgb(7, 7, 7);
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 100px;
  width: 350px;
  font-size: 25px;
  }